---
import Layout from '../layouts/Layout.astro';
import TableroMapa from '../components/TableroMapa.astro';
import Ruleta from '../components/Ruleta.astro';
import RuletaRetroceso from '../components/RuletaRetroceso.astro';
import ModalAlpha from '../components/ModalAlpha.astro';
import TurnIndicator from '../components/TurnIndicator.astro';
import QuestionDisplay from '../components/QuestionDisplay.astro';
import TimerBox from '../components/TimerBox.astro';
import AnswerOptions from '../components/AnswerOptions.astro';
import NextQuestionButton from '../components/NextQuestionButton.astro';
---

<Layout showLevelButtons={true}>
  <ModalAlpha />
  <div class="game-container">
    <h1 class="level-title">Nivel Alfa</h1>

    <TurnIndicator />
    <QuestionDisplay />
    <TimerBox initialTime={60} />
    <AnswerOptions />
    <NextQuestionButton />

    <Ruleta />
    <TableroMapa />
    <RuletaRetroceso />
  </div>
</Layout>

<script>
  import { GameEngine } from '../lib/gameEngine';

  function runEngine() {
    const game = new GameEngine({ level: 'Alpha', defaultTimeLimit: 60 });
    game.init();
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', runEngine);
  } else {
    runEngine();
  }
  document.addEventListener('astro:page-load', runEngine);
</script>