---
// src/components/TurnIndicator.astro
---

<div id="turn-indicator" class="turn-indicator hidden">
  <div class="turn-avatar" id="turn-avatar">🦁</div>
  <div class="turn-info">
    <div class="turn-team" id="turn-team">Cargando equipo...</div>
    <div class="turn-member">Turno de: <strong id="turn-member">...</strong></div>
  </div>
</div>
